body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .intro, .footer {
    background: #1F2937;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 128px;
    padding-right: 128px;
}

.intro {
    display: flex;
}
.intro_span_1 {
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 1;
}
.intro_span_2 {
    flex: 1;
}

.intro_content {
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.intro > span > img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.header_logo {
    flex-grow: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.header_links {
    color: #E5E7EB;
    font-size: 18px;
}

.intro > span > div > p{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button {
    margin-top: 16px;
    width: 120px;
    height: 40px;
    color: white;
    background: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    color: #F9FAF8;
}

.boxes {
    padding: 128px;
}

.wow {
    padding: 16px;
    background: #E5E7EB;
    padding-left: 128px;
    padding-right: 128px;
}

.wow > .wow_container > .words{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: end;
    font-weight: 800;
}

.ad_section {
    background: white;
    padding: 64px;
    padding-left: 128px;
    padding-right: 128px;
}

.blue_box {
    background: #3882F6;
    padding-left: 128px;
    
}